@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.cl-black {
  background: #000;
}

.cl-transparent {
  background: transparent;
}
.cl-text-black {
  color: #000;
}

.transition-left {
  transition-property: left;
  transition-timing-function: linear;
  transition-duration: 1500ms;
}

.active-menu {
  background-color:  rgb(204, 27, 130); 
  color: #fff;
}